<div class="columns is-multiline">
  {{#each movies}}
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="{{poster}}" alt="{{title}} Poster">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{title}}</p>
              <p class="subtitle is-6">Year: {{release_date}}</p>
              <p class="subtitle is-6">IMDb ID: {{imdb_id}}</p>
              <p class="subtitle is-6">Type: {{type}}</p>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" href="#" onclick="saveToProfileButtonHandler(this)">Rate This Movie!</a>
        </footer>
      </div>
    </div>
  {{/each}}
</div>