<div class="home-page">
    <div class="movie-card">
        
<ul id="movieList">
   {{#each movies}}
      <li>
         <h3>{{title}}</h3>
         <p>Year: {{release_date}}</p>
         <p>IMDb ID: {{imdb_id}}</p>
         <p>Type: {{type}}</p>
         <img src="{{poster}}" alt="{{title}} Poster">
      </li>
<<<<<<< HEAD:views/movie.handlebars
      <button id='rateMovie' Rate Movie!></button>
=======
      <button onclick="saveToProfileButtonHandler(specificMovieData)">Rate This Movie!</button>
>>>>>>> fd3bf110b1c1ed52bc6a26acebd3ffa01ecdbb44:views/movies.handlebars
   {{/each}}
</ul>
    </div>
</div>