<div class="home-page">
    <div class="movie-card">
        <p>Movie Title</p>
        <p>type</p>
        <img src="" alt="">
        <p>Year</p>
        {{!-- Need to add link to img --}}
        <p>ID</p>
<ul id="movieList">
   {{#each movies}}
      <li>
         <h3>{{title}}</h3>
         <p>Year: {{release_date}}</p>
         <p>IMDb ID: {{imdb_id}}</p>
         <p>Type: {{type}}</p>
         <img src="{{poster}}" alt="{{title}} Poster">
      </li>
   {{/each}}
</ul>
    </div>
</div>