
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Review a Movie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/homepage.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/jass.css">
</head>
    <section class="hero is-info is-fullheight">
<main class="container container-fluid mt-5">
<div class="columns is-multiline">
  {{#each movies}}
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="{{poster}}" alt="{{title}} Poster">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title">{{title}}</p>
              <p class="movie-details">Year: {{release_date}}</p>
              <p class="movie-details">Type: {{type}}</p>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <a class="add-rating-btn" data-imdbid="{{imdb_id}}" href="/movie/{{imdb_id}}">Rate this movie</a>
        </footer>
      </div>
    </div>
  {{/each}}
</div>
</main>
</section>