<div class="home-page">
    <div class="movie-card">
        
<ul id="movie-list">
   {{#each movies}}
      <li>
         <h3>{{title}}</h3>
         <p>Year: {{release_date}}</p>
         <p>IMDb ID: {{imdb_id}}</p>
         <p>Type: {{type}}</p>
         <img src="{{poster}}" alt="{{title}} Poster">
      </li>
      <button class="add-rating-btn" data-imdbid="{{imdb_id}}">Rate this movie!</button>
      </form>
   {{/each}}
</ul>
    </div>
</div>
