<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
</head>
<body>
  <h1>Movies</h1>
  <ul>
    {{#each movies}}
      <li>
        <h2>{{this.title}}</h2>
        <img src="{{this.poster}}" alt="{{this.title}}">
        <p>Release Date: {{this.release_date}}</p>
        <p>IMDb ID: {{this.imdb_id}}</p>
        <p>Type: {{this.type}}</p>
      </li>
    {{/each}}
  </ul>
</body>
</html>
