<!-- profile.handlebars -->

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2>{{email}}'s Profile</h2>
    </div>
  </div>

  <div class="row">
    {{#if RatingMovies}}
      {{#each RatingMovies}}
          <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="{{poster}}" alt="{{title}} Poster">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{title}}</p>
              
              
              <p class="subtitle is-6">Type: {{type}}</p>
              <p class="subtitle is-6">Release Date: {{release_date}}</p>
              <p class="subtitle is-6">Rating: {{rating}}</p>
              <p class="subtitle is-6">IMDB Id: {{imdb_id}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      {{/each}}
    {{else}}
      <p>No rated movies yet.</p>
    {{/if}}
  </div>
</div>
