<div class ="home-page">
    <div class ="movie-card">

        <ul id="profileMovies">
            {{#each movies}}
            <li>
                <h3>{{title}}</h3>
                <p>Year: {{release_date}}</p>
                <p>IMDb ID: {{imdb_id}}</p>
                <p>Type: {{type}}</p>
                <img src="{{poster}}" alt="{{title}} Poster">
            </li>
            <form class="remove-movie">
                <button id="remove-movie">Remove This Movie</button>
            {{/each}}    
        </ul>

        
    </div>
</div>