<div class="columns is-multiline" id="movie-list">
    <style>
   
    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
        color: black;
        font-size: 34px;
    }
    .rating > span.star-filled{
        color: yellow;
    }
    
    </style>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img  id="movie-poster" src="{{movie.poster}}" alt="{{movie.title}} Poster">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" id="movie-title">{{movie.title}}</p>
              <p class="subtitle is-6" id="movie-release-date">{{movie.release_date}}</p>
              <p class="subtitle is-6" id="movie-type">{{movie.type}}</p>
            </div>
          </div>
        </div>
       
     <div class="rating"  data-imdb_id="{{movie.imdb_id}}">
    <span class="star">☆</span>
    <span class="star">☆</span>
    <span class="star">☆</span>
    <span class="star">☆</span>
    <span class="star">☆</span>
     </div>
     <button onclick="sendRatingToBackend()">Submit Rating</button>
      </div>
    </div>
</div>




 <script src="/js/rating.js"></script>